{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'film/css/bootstrap.min.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
    {% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
{% endblock %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'film/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'film/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'film/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'film/js/myJS1.js' %}"></script>

  </body>
</html>